#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: start;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 12px;
  height: 220px;
  background-color: #583e3e80; /* Красный цвет с прозрачностью 0.5 */

}

button {
  width: 150px;
  margin: 0 auto;
  color: rgb(136, 46, 46);
  margin-bottom: 10px;


}
.inp {
  margin: 15px 0
}
input {
  height: 20px;
}

.Data {
  width: 300px;
  height: 220px;
  border-radius: 12px;
  background-color: #583e3e80;
  text-align: justify;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: aqua;
  margin-left: 10px;
  
}
.one {
  padding-top: 70px;
}